# ``twemproxy`` formula configuration
twemproxy:
  build:
    version: 0.3.0
    source_hash: sha1=b17f973ff2de9bd5e21417786a1449bea1557fba
    src_directory: /usr/local/src
    config_directory: /usr/local/etc/nutcracker
